@using OpenOrderSystem.Core.Data.DataModels
@using OpenOrderSystem.Core.ViewModels.Home

@{
    Layout = "_HTMLBaseLayout";
}

<main class="h-100 d-flex p-4 shadow-lg">
    <div class="m-auto">
        <h1>Open Order System - &copy;JPion Software Solutions, LLC</h1>
        <h2>Default Customer Interface Disabled</h2>
    </div>
</main>